<!DOCTYPE html>
<html lang="en">
{% extends 'Modified_files/dashtheme.html' %}
{% block content %}
{% load crispy_forms_filters %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
<table>
    <tr>
        <th>todo</th>
    </tr>
    {% for r in data %}
    <tr>
        <td>{{ forloop.counter}}</td>
        <td> {{r.data}}</td>

        <td>
                <a href="{% url r.id %}" class="btn btn-warning">Update</a>
                <form action="#" method="POST" class="d-inline-block">
                      {% csrf_token %}
                    <a href="{% url r.id %}" class="btn btn-danger">Delete</a>
                    <form action="#" method="POST" class="d-inline-block">
                </form>
        </td>

    </tr>
    {% endfor %}
</table>
</form>
</body>
{% endblock %}
</html>